/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FULL DARK BACKGROUND */
html, body {
  height: 100%;
  background: #0f172a;   /* same as React */
  color: #e2e8f0;
  font-family: Arial, sans-serif;
}

/* REMOVE EXTRA SPACING */
body {
  overflow-x: hidden;
}

button {
  transition: all 0.2s ease;
}

.card, .info-card {
  box-shadow: 0 6px 20px rgba(0,0,0,0.25);
}
/* GLOBAL DROPDOWN STYLE */
select {
  background-color: #0f172a; /* dark bg */
  color: #e2e8f0; /* text */
  border: 1px solid #334155;
  padding: 8px;
  border-radius: 6px;
  outline: none;
  appearance: none; /* removes default styling */
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Dropdown options */
select option {
  background-color: #0f172a;
  color: #e2e8f0;
}

/* Focus */
select:focus {
  border-color: #38bdf8;
  box-shadow: 0 0 0 1px #38bdf8;
}